<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head"); %>
</head>

<body>
    <%- include("./partials/h1"); %>
    <%- include("./partials/form"); %>
    <%- include("./partials/buttonTable"); %>
</body>

</html>