<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head"); %>
</head>

<body>
    <%- include("./partials/h2"); %>
    <%- include("./partials/table"); %>
    <%- include("./partials/buttonForm"); %>
</body>

</html>