<form class="m-3" action="http://localhost:8080/productos" method="post">
  <div class="mb-3">
    <label for="inputNombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="inputNombre" placeholder="Lapicera" name="title">
  </div>
  <div class="mb-3">
    <label for="inputPrecio" class="form-label">Precio</label>
    <input type="number" class="form-control" id="inputPrecio" placeholder="200" name="price">
  </div>
  <div class="mb-3">
    <label for="inputFotoURL" class="form-label">Foto URL</label>
    <input type="url" class="form-control" id="inputFotoURL" placeholder="https://http2.mlstatic.com/lapicera"
      name="thumbnail">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>